body, html {
	font: 8pt sans-serif;
	height: 100%;
	margin: 0;
	overflow: hidden;
}

#feedback {
	right: -190px;
}
#feedback:hover {
	right: 0;
}

#levels {
	left: -190px;
}
#levels:hover {
	left: 0;
}

.ccr_wrapper {
	display: inline-block;
}

.ccr_wrapper .arrow {
	background-image: url('img/arrows.png');
	height: 50px;
	width: 50px;
}

.ccr_wrapper .arrow.dir0 { background-position: 0; }
.ccr_wrapper .arrow.dir1 { background-position: -50px; }
.ccr_wrapper .arrow.dir2 { background-position: -100px; }
.ccr_wrapper .arrow.dir3 { background-position: -150px; }

.ccr_wrapper .cat {
	background-color: #f80;
	border-radius: 25px;
	z-index: 3;
	-webkit-transform: scale(0.75);
}

.ccr_wrapper .goal {
	background-color: #08f;
	border-radius: 25px;
	z-index: 3;
	-webkit-transform: scale(0.75);
}

.ccr_wrapper .grid {
	background-image: url('img/grid.png');
	z-index: 1;
}
.ccr_wrapper .grid.col1 {
	background-color: #ffd;
}
.ccr_wrapper .grid.col2 {
	background-color: #fdf;
}

.ccr_wrapper .hole {
	background-color: #000;
	border-radius: 25px;
	z-index: 1;
	-webkit-transform: scale(0.75);
}

.ccr_wrapper .mouse {
	background-color: #88f;
	border-radius: 25px;
	z-index: 2;
	-webkit-transform: scale(0.5);
}

.ccr_wrapper .mouse, .ccr_wrapper .cat {
	box-shadow: 0 5px 10px rgba(0, 0, 0, .25);
}

.ccr_wrapper .toolbar .arrow {
	display: inline-block;
}
.ccr_wrapper .toolbar .arrow .label {
	color: #fff;
	display: table-cell;
	font-weight: bold;
	height: 50px;
	pointer-events: none;
	text-align: center;
	vertical-align: middle;
	width: 50px;
}

.ccr_wrapper .wall {
	background-color: #000;
	z-index: 4;
}

.content {
	padding: 10px;
}

.dt {
	display: table;
	height: 100%;
	width: 100%;
}
.dtc {
	display: table-cell;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	width: 100%;
}

.shadowtext {
	text-shadow: rgba(0, 0, 0, .5) 0px 1px 2px;
}

.sidebox {
	background-color: #000;
	color: #fff;
	height: 100%;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 10;
}

/* Animations */
/*.cat, .mouse {
	-webkit-transition-property: margin;
	-webkit-transition-timing-function: linear;
}
.cat {
	-webkit-transition-duration: .3s;
}
.mouse {
	-webkit-transition-duration: .2s;
}*/
#feedback, #levels {
	transition: left .2s, right .2s;
	-webkit-transition: left .2s, right .2s;
}